# Copy this file to /etc/udev/rules.d/
# If rules fail to reload automatically, you can refresh udev rules
# with the command "udevadm control --reload"

ACTION!="add|change", GOTO="chipcraft_rules_end"
SUBSYSTEM!="usb|tty|hidraw", GOTO="chipcraft_rules_end"

# Olimex ARM-USB-OCD-H
ATTRS{idVendor}=="15ba", ATTRS{idProduct}=="002b", MODE="660", GROUP="dialout", TAG+="uaccess"

LABEL="chipcraft_rules_end"
